/* Theme extension to the default_site.css file which provides the default Indicia style output */
/* Accessible colour ranges from colorbrewer */
/* Set the species checklist entry grid width to 100% */
table.species-grid {
  width: 100%; }

.attrs-container {
  /* Indent contents */
  padding-left: 30px; }
  .attrs-container legend {
    font-size: 150%;
    /* Undo indentation for legend */
    margin-left: -30px; }
  .attrs-container .attrs-container legend {
    font-size: 120%; }

table.report-grid {
  /* Sizing of thumbnails in image columns */ }
  table.report-grid tr {
    /* Odd row colouration */
    /* Workflow related styling */ }
    table.report-grid tr.odd {
      background-color: #eeeeee;
      border: none; }
    table.report-grid tr.overdue {
      border-left: solid 8px #d7191c; }
    table.report-grid tr.overdue-soon {
      border-left: solid 8px #fdae61; }
  table.report-grid .single img {
    width: 100px;
    margin: 2px; }
  table.report-grid .multi img {
    width: 50px;
    margin: 1px; }

.media-gallery ul {
  padding: 0; }
  .media-gallery ul li {
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    *display: inline;
    list-style-type: none;
    vertical-align: top; }

/* Allow info panels to use absolute positioning */
.gallery-item {
  position: relative;
  padding: 0.5em;
  /* Record status icon overlay on image */ }
  .gallery-item .status-icon {
    position: absolute;
    right: 0;
    top: 8px; }

/* Media/image information overlays */
.media-info {
  position: relative;
  width: auto;
  background: white;
  padding: 8px 16px 8px 8px;
  border: solid silver 1px;
  border-radius: 4px;
  /* Media info can overlay image (not other file types) */
  /* Media info close button style */ }
  .media-info.image-info {
    position: absolute;
    left: 18px;
    bottom: 18px;
    opacity: 0.7; }
  .media-info .media-info-close {
    width: 16px;
    height: 16px;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 12px;
    color: #777777;
    cursor: pointer;
    text-align: center; }

.image-caption.small {
  width: 100px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px; }

/* Need to account for Fancybox navigation button z-index */
.fancybox-outer .media-info {
  z-index: 9999; }

/* Define the purpose of the 3 columns in the sprite. */
/* Define the purpose of the rows in the sprite. */
.status-icon {
  background: url(../images/statuses-sprite.png) no-repeat center center;
  width: 32px;
  height: 16px;
  display: inline-block;
  /* Default state, not reviewed */ }
  .status-icon.status-.substatus-.certainty-, .status-icon.status-C.substatus-.certainty-.query- {
    background: none; }
  .status-icon.certainty-C {
    /* Not reviewed, recorder was certain */
    background-position: 0px -48px; }
    .status-icon.certainty-C.query-Q {
      background-position: -32px -48px; }
    .status-icon.certainty-C.query-A {
      background-position: -64px -48px; }
  .status-icon.certainty-L {
    /* Not reviewed, recorder thought likely */
    background-position: 0px -64px; }
    .status-icon.certainty-L.query-Q {
      background-position: -32px -64px; }
    .status-icon.certainty-L.query-A {
      background-position: -64px -64px; }
  .status-icon.certainty-U {
    /* Not reviewed, recorder was uncertain */
    background-position: 0px -80px; }
    .status-icon.certainty-U.query-Q {
      background-position: -32px -80px; }
    .status-icon.certainty-U.query-A {
      background-position: -64px -80px; }
  .status-icon.status-V {
    /* Accepted */
    background-position: 0px -16px; }
    .status-icon.status-V.query-Q {
      background-position: -32px -16px; }
    .status-icon.status-V.query-A {
      background-position: -64px -16px; }
    .status-icon.status-V.substatus-1 {
      /* Accepted as correct */
      background-position: 0px 0px; }
      .status-icon.status-V.substatus-1.query-Q {
        background-position: -32px 0px; }
      .status-icon.status-V.substatus-1.query-A {
        background-position: -64px 0px; }
  .status-icon.status-C {
    /* Not reviewed, recorder certainty not known */
    background-position: 0px -128px; }
    .status-icon.status-C.query-Q {
      background-position: -32px -128px; }
    .status-icon.status-C.query-A {
      background-position: -64px -128px; }
    .status-icon.status-C.substatus-3 {
      /* Plausible */
      background-position: 0px -32px; }
      .status-icon.status-C.substatus-3.query-Q {
        background-position: -32px -32px; }
      .status-icon.status-C.substatus-3.query-A {
        background-position: -64px -32px; }
  .status-icon.status-R {
    /* Not accepted */
    background-position: 0px -96px; }
    .status-icon.status-R.query-Q {
      background-position: -32px -96px; }
    .status-icon.status-R.query-A {
      background-position: -64px -96px; }
    .status-icon.status-R.substatus-5 {
      /* Not accepted as incorrect */
      background-position: 0px -112px; }
      .status-icon.status-R.substatus-5.query-Q {
        background-position: -32px -112px; }
      .status-icon.status-R.substatus-5.query-A {
        background-position: -64px -112px; }

label, form label {
  width: 160px;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  vertical-align: top;
  margin: 8px 0;
  font-weight: bold; }

form input:not([type="submit"]), form select, form textarea, #form-params textarea, .timeEntry_control,
.inline-control, button.inline-control, input.inline-control {
  vertical-align: top;
  margin: 4px 0;
  display: inline;
  padding: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }

.helpText {
  margin-left: 164px; }

/* Required asterisk can be large */
.deh-required {
  font-size: 150%; }

/* Control box is div class used to group controls with a single label, e.g. hierarchical select. */
.control-box {
  display: inline-block;
  zoom: 1;
  *display: inline; }

/* Some default button spacing. */
.indicia-button {
  padding: 0.3em 1.5em;
  margin: 0.25em;
  min-height: 23px;
  width: auto;
  line-height: 1.5; }

/* Find-me icon position inside edge of sref control */
input.findme {
  padding-right: 18px; }

#findme-icon {
  margin: 8px 0 0 -18px;
  vertical-align: top;
  padding-right: 2px; }

/* Control sizing classes */
.control-width-0 {
  width: 25px !important;
  box-sizing: border-box; }

.control-width-1 {
  width: 50px !important;
  box-sizing: border-box; }

.control-width-2 {
  width: 100px !important;
  box-sizing: border-box; }

.control-width-3 {
  width: 150px !important;
  box-sizing: border-box; }

.control-width-4 {
  width: 200px !important;
  box-sizing: border-box; }

.control-width-5 {
  width: 300px !important;
  box-sizing: border-box; }

.control-width-6 {
  width: 500px !important;
  box-sizing: border-box; }

/*# sourceMappingURL=theme-generic.css.map */
