#attribute-by-survey-index {
  li {
    list-style-type: none;
  }
  input.caption {
    padding: 2px;
    border: solid #AAAAAA 1px;
  }
  .ui-droppable {
    border: dotted #aaaaaa 1px;
  }
  .btn {
    margin: 0 4px;
  }
}

ul#top-blocks li, ul#top-blocks ul li, ul.control-list li {
  margin: 0.2em;
  padding: 0.3em;
}

ul#top-blocks ul {
  margin-left: 1em;
}

.drop-active {
  background-color: #ffccaa;
}

.grid-action {
  color: #000070;
  margin: 0 0.5em;
}

.handle {
  float: left;
  margin-right: 1em;
  background: url(../images/drag-handle.png) no-repeat 0 0;
  width: 26px;
  height: 24px;
  cursor: move;
}

.draggable-control .caption, .draggable-block .caption {
  float: left;
}

.draggable-block {
  border: dotted 1px silver;
}

.deleted {
  opacity: 0.4;
  border: dotted red 1px;
}

#layout-change-form, #actions-new-block {
  margin: 0.5em 0;
}

.ui-droppable {
  border: dotted #aaaaaa 1px;
}

.block-list input.caption {
  padding: 2px;
  border: solid #AAAAAA 1px;
}

.rename-apply {
  padding: 2px;
  margin-left: 2px;
}

.block-list span.caption {
  margin: 3px 2px;
}