#banner
{
  background: #000000 url(../images/warehouse-banner.jpg) no-repeat top right;
  color: #FEFEFE;
  height: 126px;

  #logo {
    margin: 12px;
  }
}

#footer {
  padding: $block-padding 0;
}