/* Set the species checklist entry grid width to 100% */
table.species-grid {
  width: 100%;
}
.attrs-container {
  legend {
    font-size: 150%;
  }
  .attrs-container {
    padding-left: 30px;
    legend {
      font-size: 120%;
    }
  }
}